body {
	margin: 0;
}

#topbar {
	background-color: black;
	width: 100%;
	height: 46px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.fixedwidth {
	width: 1300px;
	margin:0 auto;
}

#logodiv {
	padding-top: 2px;
	float: left;
	border-right: 1px solid #990000;
	padding-right: 600px;
}


#topmenudiv {
	float: left;
}
#topmenudiv ul {
	margin: 0;
	padding:0;
}

.topmenuli {
	list-style: none;
	font-weight: bold;
	font-size: 0.9em;
	padding: 13px 10px 13px 10px;
	float: left;
	border-right: 1px solid #990000;
	height: 20px;

}
#searchdiv {
	float: left;
	padding: 10px 20px;

}
#searchdiv input {
	height: 20px;
	padding-left: 4px;
	font-size: .9em;
	font font-family: Arial, Helvetica, sans-serif;
	width: 125px;
	background-image: url ("images/mg1.png");
	border: 0;

}

#searchdiv img {
	height: 22px;
	float: right;
	border: 0;

}

#secondbar {
	background-color: #990000;
	width: 100%;
	height: 90px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#secondbar p {
margin: 0;
padding: 4px;
float: left;
}

.break {
	clear: both;
}

#antonio {
	color: white;
	font-size: 3em;
	font-weight: bold;
	font font-family: Arial, Helvetica, sans-serif;


}
#rss {
	float: right; 
	margin-top: 36px;

}
#rssimg {
	height: 13px;
}
#menu {

}
#menu ul {
	background-color: #3E0C0D;
	margin: 0;
	padding: 0px;
	height: 27px;
	

}

#menu li {
	list-style: none;
	padding-left: 5px;
	font-size: 0.9em;
	padding: 5px 10px;
	float: left;
	border-right: 1px solid #990000;
}

#selecthome {
	background-color: #EDEDED;
	color: #666666;
	height: 15px;
	position: relative;
	padding-top: 7px !important;
}
#selectwebprojects {
	background-color: #EDEDED;
	color: #666666;
	height: 15px;
	position: relative;
	padding-top: 7px !important;
}
#selectgrad {
	background-color: #EDEDED;
	color: #666666;
	height: 15px;
	position: relative;
	padding-top: 7px !important;
}
#selectcontact {
	background-color: #EDEDED;
	color: #666666;
	height: 15px;
	position: relative;
	padding-top: 7px !important;
}
#selectgame {
	background-color: #EDEDED;
	color: #666666;
	height: 15px;
	position: relative;
	padding-top: 7px !important;
}
#selecttech {
	background-color: #EDEDED;
	color: #666666;
	height: 15px;
	position: relative;
	padding-top: 7px !important;
}
#contact {
	background-color: #EDEDED;
	color: #666666;
	height: 15px;
	position: relative;
	padding-top: 7px !important;
}

#content {
	color: #535353;
	width: 100%;
	font font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

.paragraph {
	text-indent: 40px;
}

#homeimg {
	padding-left: 400px;
}

#contactmap {
	padding-left: 500px;
}

.contactinfo {
	text-align: center;
}

.center {
	text-align: center;
}

#mikepic img{
	height: 200px;
	padding-left: 400px;
    padding-top: 80px;

}

.gptextcenter {
	text-align: center;
}

#gradplist {

}

p {
	text-indent: 50px;
}

#submit_button {
	border: 1px solid #CCC;
    border-radius: 1em;
}