.container {
	width: 780px;
	margin: 0 auto;
}

body {
	margin: 0;
}

h2 {
	font-weight: bold;
	text-align: center;
}

.header {
	color: white;
	text-align: center;
	font-size: 45px;
	position: absolute;
	top: 20px;
	left: 0px;
	width: 100%;
	margin: 0 auto;

}

.header_image {
	width: 968px; 
	height: 100px;
	position: relative;
	width: 780px;
	margin: 0 auto;
}

.menu {
	width: 780px;
	margin: 0 auto;
}

.menu a {
	color: white;
	position: relative;
	padding-left: 75px;
	width: 100%;
	margin: 0 auto;
}

p {
	text-indent: 50px;
	line-height: 2;
	font-family: Helvetica;
	width: 780px;
	margin: 0 auto;
}

#sam {
	border: 2px;
	border-style: solid;
	border-color: black;
	width: 736px;
	height: 115px;
	background-color: white;
	padding: 20px;
	margin: 0 auto;
	border-radius: 25px;
}

#ship_pic1 {
	float: left;
}

#asteroid_pic1 {
	float: right;
}

.break {
	clear: both;
}

footer {
	position: relative;
	bottom: auto;
	font-style: italic;
}

.main {
	padding-top: 20px;
}

#connector {
	float: left;
	border: 4px;
	width: 344px;
	border-color: black;
	border-style: solid;
	margin-top: 50px;
}


/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: orange;
}

/* hover over link */
a:hover {
	color: red;
}

.center {
	text-align: center;
}

a {
	text-decoration: none;
}


  @media  (max-width: 700px){
    #sam
    {
      width: 60%;
      float: left;
      min-width: 50px;
    }
    #connector {
    	width: 76px;
    }
    .menu a {
    	padding-left: 10px;
    }
}